body {
  margin: 0;
  padding: 0;
  background: goldenrod;
  background-image: -moz-radial-gradient(circle at center, #ffdf00 0%, #ff8c00 100%);
  background-attachment: fixed;
  font-size: large;
  
  font-style: italic;
}

h1, p {
  margin-left: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #619baa;
}

ul li {
  float: left;
  border-right:1px solid #bbbbbb;
}

ul li:last-child {
  border-right: none;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 22px;
  text-decoration: none;
  text-decoration-style: dotted;
  font-style: oblique;
  font-variant: small-caps;
  font-weight: 600;
  font-display: fallback;
  font-language-override: initial;
  font-variant-ligatures: no-common-ligatures;
  font-variant-caps: all-small-caps;
  font-variant-numeric: slashed-zero;
}

ul li a:hover:not(.active) {
  background-color: #724545;
}

ul li a.active {
  background-color: #04AA6D;
  font-style: inherit;
}